body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

.title-bar {
    background-color: #1F1B24;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.country-card {
    background-color: #333333;
    border: 1px solid transparent;
    margin: 10px;
    padding: 20px;
    width: 240px;
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease, border-color 0.2s ease;
    animation: fadeIn 0.5s ease-out;
}

.country-card:hover {
    transform: translateY(-5px);
    border-color: white;
}

.country-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #474747;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
}


.search-controls {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}

#search-box, #continent-select {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

#search-box {
    flex-grow: 1;
    margin-right: 10px;
    background-color: #262626;
    color: #fff;
}

#search-box, #continent-select, #language-select, #population-sort {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #262626;
    color: #fff;
    margin-right: 10px;
}


.close-icon {
    cursor: pointer;
    user-select: none;
    background-color: #262626;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.2s linear;
}

.modal-content {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    position: relative;
    transition: transform 0.2s ease-out;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal-flag {
    width: 50%;
    margin-bottom: 20px;
}

.details-and-map {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.country-details, .map {
    width: 45%;
    padding: 10px;
}

.map {
    height: 300px; 
    border: 1px solid #333;
}

a{
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
}

.country-details img {
    width: auto; 
    max-width: 100%;
    height: auto;
    border-radius: 0; 
    margin-bottom: 20px; 
}

.country-details .country-info {
    display: block;
}

.country-details div {
    grid-column: 2 / 3;
}

#continent-select {
    background-color: #262626;
    color: white;
    border-radius: 8px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}
